# 依赖和构建产物
node_modules
**/.pnpm-store
**/dist
**/build
**/.next
**/bun-cache

# 版本控制和文档
.git
.gitignore
*.md

# 开发工具
.history
.vscode
.idea

# 应用特定的输出目录
apps/api/output
apps/api/temp
apps/api/node_modules
apps/web/node_modules
apps/web/dist

# 其他
.env
.env.local
